<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <img id="profile-pic" src="{{ '/assets/headshot.jpg' | relative_url }}" alt="Picture of Swapnil">
            <h1>
                <a href="{{ " /" | relative_url }}">
                    {{ site.title }}
                </a>
            </h1>
            <p class="lead">{{ site.description }}</p>
        </div>

        <nav class="sidebar-nav">
            <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ "/" | relative_url
                }}">Home</a>

            <!-- Links to sections -->
            <a class="sidebar-nav-item" href="#approach">Approach to Tutoring</a>
            <a class="sidebar-nav-item" href="#services">Services</a>
            <a class="sidebar-nav-item" href="#rates">Rates</a>
            <a class="sidebar-nav-item" href="#contact">Contact</a>

        </nav>

        <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </div>
</div>